/* Top Css Starts */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 14px;
}

.sh-container {
    display: flex;
}

.sh-heading-container {
    display: inline-block;
    width: 150px;
    height: 20px;
    margin: 10px;
}

.sh-category-container {
    display: inline-block;
    width: 250px;
    height: 40px;
    margin: 10px;
    padding: 10px;
}

    /* To do: Update style so list shows horizontally*/
    .sh-category-container ul {
        list-style: none;
    }

    .sh-category-container li {
        display: inline-block;
    }

.sh-search-container {
    display: inline-block;
    width: 400px;
    height: 40px;
    margin: 10px;
}

.search, searchbtn {
    display: inline-block;
    width: 300px;
    height: 40px;
    margin: 10px;
}

.sh-basket-container {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 10px;
}

    .sh-basket-container img {
        display: inline-block;
        width: 40px;
        height: 40px;
    }


.sh-content-section-products {
    display: block;
    width: 100%;
    vertical-align: top;
    padding: 10px;
}
    /* To do: Update style so list shows horizontally*/
    .sh-content-section-products ol {
        list-style: none;
    }

    .sh-content-section-products li {
        display: inline-block;
        padding: 15px;
        margin: 10px;
    }


.sh-content-section-articles {
    display: block;
    width: 100%;
    min-height: 200px;
    padding: 10px;
}

.sh-content-article {
    display: inline-block;
    width: 300px;
    height: 300px;
    min-height: 300px;
}

footer {
padding:20px;
text-align:center;
}